{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h1 class="text-center">Смета</h1>

                </div>
                <div class="col-sm-3">

                    {% include 'kit/kit.html' %}

                </div>
                <div class="col-sm-8 col-sm-offset-1">

                    {% include 'estimate/estimate.html' %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}