{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">Смета</h1>
                </div>
                <div class="col-lg-2">
                    <div>
                        <form action="" method="post" class="form-horizontal text-center form-padding">{% csrf_token %}
                            <div class="form-group">
                                {{ form.comment }}
                            </div>
                            <div class="form-group">
                                {{ form.voltage }}
                            </div>
                            <div class="form-group">
                                {{ form.power }}
                            </div>
                            <div class="form-group">
                                {{ form.type }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-orange">Добавить в смету</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9 col-lg-offset-1">
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Функция</th>
                                    <th>Производитель</th>
                                    <th>Серия</th>
                                    <th>Артикул</th>
                                    <th>Кол-во</th>
                                    <th>Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item_in_estimate in items_in_estimate %}
                                    <tr>
                                        <td>{{ item_in_estimate.id }}</td>
                                        <td>{{ item_in_estimate.comment }}</td>
                                        <td>{{ item_in_estimate.item.manufacturer }}</td>
                                        <td>{{ item_in_estimate.item.series }}</td>
                                        <td>{{ item_in_estimate.item.vendor_code }}</td>
                                        <td>{{ item_in_estimate.nmb }}</td>
                                        <td>{{ item_in_estimate.price_per_item }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}