 <div>
    <table id="table-estimate" class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Назначение</th>
                <th>Категория</th>
                <th>Производитель</th>
                <th>Серия</th>
                <th>Артикул</th>
                <th>Кол-во</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item_in_estimate in items_in_estimate %}
                <tr>
                    <td id="item-{{ item_in_estimate.id }}">
                        <form class="form-inline" action="" method="post">{% csrf_token %}
                            <div class="form-grop">
                                {{ item_in_estimate.comment }}
                                <input class="hidden" type="text" name='appointment' value='delete_items'>
                                <input class="hidden" type="text" name='comment' value='{{ item_in_estimate.comment }}'>
                                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" title="Удалить">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td id="item-{{ item_in_estimate.id }}">
                        {{ item_in_estimate.item.category }}</td>
                    <td id="item-{{ item_in_estimate.id }}">
                        {{ item_in_estimate.item.manufacturer }}</td>
                    <td id="item-{{ item_in_estimate.id }}">
                        {{ item_in_estimate.item.series }}</td>
                    <td id="item-{{ item_in_estimate.id }}">
                        {{ item_in_estimate.item.vendor_code }}</td>
                    <td id="item-{{ item_in_estimate.id }}">
                        {{ item_in_estimate.nmb }}</td>
                    <td id="item-{{ item_in_estimate.id }}">
                        {{ item_in_estimate.price_per_item }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>